<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>EVEngineSound</string>
	<key>CFBundleDisplayName</key>
	<string>EV Engine Sound</string>
	<key>CFBundleIdentifier</key>
	<string>com.evenginesound.app</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>EVEngineSound</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>EVEngineSound needs Bluetooth to connect to your OBD-II scanner for reading vehicle data.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>EVEngineSound needs Bluetooth to connect to your OBD-II scanner for reading vehicle data.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
